<header style="width: 100%; background-color: rgb(212, 50, 77); overflow: auto; ">
<div style="float: left; /* Aligne l'élément à gauche */">
    <a href="{{ url_for('dashboard') }}">dashboard</a>
    <a href="{{ url_for('overview') }}">overview</a>
    {% if user['is_admin'] == True %}
    <a href="{{ url_for('model_list') }}"><span class="menu-title">Model</span></a>
    {% endif %}
</div>

<div style="float: right;">
    {% if global_variable.need_update == True %}
    <a href="{{ url_for('update') }}">update</a>
    {% endif %}
    {{user['username']}}
    {{user['mail']}}
    {% if user['is_admin'] == True %}
        role: admin
        <a href="{{ url_for('user_management') }}">user_management</a>
    {% endif %}

 lougout 
</div>
</header>