<style>
body{background-color: #f0f0f0;}
nav {
  background-color: #2196F3; /* Bleu caractéristique de Fluent Design */
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  float: left;
}

nav li a {
  display:  
 block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


nav li a:hover {
  background-color:  
 #0069c0;
}

</style>

<nav>
    <ul>

        <li><a href="{{ url_for('overview') }}">Overview</a></li>
        {% if user['is_admin'] == True %}
        <li><a href="{{ url_for('model_list') }}">Model</a></li>
        {% endif %}
        {% if global_variable.need_update == True %}
        <li><a href="{{ url_for('update') }}">Update</a></li>
        {% endif %}
        <li><a href="{{ url_for('user_management') }}">{{user['username']}}</a></li>
        <li><a href="{{ url_for('logout') }}">Logout </a></li>

    </ul>
</nav>
