<head>
  <meta charset="UTF-8" />
  <title>Intradys - Overview</title>
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='/css/overview.css') }}"
  />
</head>
<!-- Script JavaScript pour la fonction de recherche -->

{% extends 'container.html' %} {% block content %}{% include 'menu.html' %}
<div class="content">
  <div class="header_wrap" style="width: 100%;height: 70vh;overflow: scroll;">
    <table class="table table-striped table-class" id="table-id">
      
      <tbody>
        {% for image in images %}
        <tr>
          <td><a href="{{ url_for('overview')}}/{{ image[0] }}">{{ image[0] }}</a>
          </td>
          <td>{{image[1]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{{images}}
    <!-- Liens de pagination -->
    <div class="pagination"></div>
    <input
      type="text"
      id="search_input_all"
      oninput="filterTable()"
      placeholder="Search.."
      class="form-control"
    />
  </div>
  <script>
    function filterTable() {
      var input, filter, table, tr, td, i, j, txtValue;
      input = document.getElementById("search_input_all");
      filter = input.value.toUpperCase();
      table = document.getElementById("table-id");
      tr = table.getElementsByTagName("tr");

      // Parcourir toutes les lignes de la table
      for (i = 0; i < tr.length; i++) {
        // Parcourir toutes les colonnes de chaque ligne
        for (j = 0; j < tr[i].getElementsByTagName("td").length; j++) {
          td = tr[i].getElementsByTagName("td")[j];
          if (td) {
            txtValue = td.textContent || td.innerText;
            // Vérifier si le texte de la colonne contient le filtre
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              tr[i].style.display = "";
              break; // Si une correspondance est trouvée dans une colonne, afficher la ligne et passer à la suivante
            } else {
              tr[i].style.display = "none";
            }
          }
        }
      }
    }
  </script>
  {% endblock %}
</div>
