
  {% extends 'container.html' %}
  {% block content %}
  {% include 'navtop.html'%}
  {% include 'menu.html' %}
  <div class="content">
    <div class="header_wrap" style="width: 100%;height: 70vh;overflow: scroll;">
      {% if data_label["message"] == True %}               <a href="{{ url_for('download_label',projet_name=dirname)}}" style="display: flex;flex-direction: column;">dl</a>
      {% endif %}
      <table class="table table-striped table-class" id="table-id">
        
        <tbody>
          {% for image in images %}
          {% set image_url = path ~ '/' ~ image[0] %}
          <tr style="float: left;">
            <td >
              <a href="{{ url_for('labelling',pathname=path,dirname=dirname, filename=image, model=model) }}" style="display: flex;flex-direction: column;">
                <img src=" {{ url_for('get_image_thumbnail',pathname=path,dirname=dirname, filename=image) }}"></img>{{ path }} plus {{image[0]}}
              </a>
            </td>
            <td>{{image[1]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  {{images}}
      <!-- Liens de pagination -->


    {% endblock %}

  